<ion-header>
  <ion-navbar>
    <ion-title>Device Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="https://banner2.kisspng.com/20180414/bze/kisspng-eddystone-bluetooth-low-energy-beacon-web-page-web-search-5ad1879bd0b810.4985703215236811798549.jpg"/>
    <ion-card-content>
      <ion-card-title>
        {{ device.name }}
        <p>{{ device.id }}</p>
      </ion-card-title>
      <p>{{ device.rssi }}</p>
      <p>{{ device.advertising }}</p>
      <b>{{ msg }}</b>
      <button ion-button (click)="disconnect()" *ngIf="connected">Disconnect</button>
    </ion-card-content>
  </ion-card>
</ion-content>
