<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Bluetooth Status: {{ bluetoothStatus }}</p>

  <button ion-button block (click)="scan()" *ngIf="bluetoothStatus == 'on'">
    <span *ngIf="!scanning">Scan</span>
    <span *ngIf="scanning">Scanning...</span>
  </button>

  <ion-list *ngIf="device">
    <button ion-item *ngFor="let item of device" (click)="itemSelected(item)">
      {{ item.name }}
    </button>
  </ion-list>

</ion-content>
